# Multimodal Emotion Recognition System
# Deep Learning & Core
torch
torchvision
torchaudio

# Computer Vision & Audio Processing
opencv-python
pillow
librosa
soundfile
scipy

# Machine Learning & Data Analytics
numpy
pandas
scikit-learn
matplotlib
seaborn

# Flask Web Backend
Flask
flask-cors